<html>

<head>
  <title>Matched Products</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/products.css">
</head>

<body class="container" id="body">

	<div class="page-header">
		<h1>
			<strong>Selected Product</strong>
			<div style="float: right; cursor: pointer;"><span class="glyphicon glyphicon-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
			</div>
		</h1>
	</div>

	<!--Modal alert for operation success and failure-->
	<div class="modal fade" id="operationSuccessModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div id="operationSuccessAlert" class="alert alert-success alert-dismissable">
						<!-- <strong>Order placed</strong> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="operationFailureModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div id="operationFailureAlert" class="alert alert-danger alert-dismissable">
						<strong>An error has occured on placing the order.</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Placeholder for Selected Product div: to be added dynamically-->
	<!--Placeholder for Similar Product label div: to be added dynamically-->
	<!--Placeholder for Similar Products div: to be added dynamically-->

	<script src="./js/jquery-2.2.4.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/jquery.mycart.min.js"></script>
	<script src="./js/checkout.js"></script>
	<script>
			let selectedProduct = <%- JSON.stringify(selectedProduct); %>;
			let similarProducts = <%- JSON.stringify(similarProducts); %>;
	</script>
	<script src="./js/products.js"></script>

</body>

</html>