<html>
<header>
    <title>My Shopping Cart</title>
    <link rel="stylesheet" href="./css/cart.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <script src="./js/jquery-2.2.4.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/checkout.js"></script>
    <script src="./js/shopping_cart.js"></script>
</header>

<body>
    <h1>Shopping Cart</h1>

    <div class="shopping-cart">
        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>

        <div id="productList">
            <!--
            <div class="product">
                <div class="product-image">
                    <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
                </div>
                <div class="product-details">
                    <div class="product-title">Dingo Dog Bones</div>
                    <p class="product-description">The best dog bones of all time.</p>
                </div>
                <div class="product-price">12.99</div>
                <div class="product-quantity">
                    <input type="number" value="2" min="1">
                </div>
                <div class="product-removal">
                    <button class="remove-product">
                        Remove
                    </button>
                </div>
                <div class="product-line-price">25.98</div>
            </div>
            -->
        </div>
        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">71.97</div>
            </div>
            <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax">3.60</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">15.00</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">90.57</div>
            </div>
        </div>

        <button id="checkout" class="checkout">Checkout</button>

    </div>

    <div class="modal fade" id="operationSuccessModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="operationSuccessAlert" class="alert alert-success alert-dismissable">
                            <!-- <strong>Order placed</strong> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="operationFailureModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="operationFailureAlert" class="alert alert-danger alert-dismissable">
                            <strong>An error has occured on placing the order.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>