body { margin-top:20px; }

/* Just looks nicer */
.panel-heading img {
    min-width: 180px;
}

.lable-errors {
  font-weight: bold;
  font-size: 20px;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* The old "center div vertically" hack */
.display-table {
    display: table;
}

.display-tr {
    display: table-row;
}

.display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}